<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body class="gray-bg">
		<!-- 每个页面都有（除了首页） -->
{include file="public:nav"}
	<div class="common_bg" id="common_bg"></div>
	<!-- 每个页面都有（除了首页） -->

		<section class="webkit_box">
	
			<div class="top_box">
				<a class="top_back" href="javascript:history.back(-1)">
					<i class="fa fa-reply"></i>
				</a>
				<div class="top_txt">修改个人资料</div>
				<div class="top_nav_btn" id="nav_btn">
					<i class="fa fa-navicon"></i>
				</div>
			</div>
			<section class="webkit_content">
					<div class="wrapper wrapper-content">
							<div class="row">
								<div class="col-sm-12">
									<div class="ibox float-e-margins">
										<div class="ibox-title">
											<h5>修改个人资料</h5>
										</div>
										<div class="ibox-content">
											<form id="logoForm" action="{:url('User/save')}" method="POST" class="form-horizontal">
												<div class="form-group">
													<label class="col-sm-2 control-label">昵称</label>
													<div class="col-sm-10">
														<input type="text" placeholder="请输入昵称" name="u_name" value="{$re.u_name}" class="form-control" required>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label">登录密码</label>
													<div class="col-sm-10">
														<input type="text" placeholder="请输入登录密码6-20位" name="u_pwd" value="" class="form-control">
													</div>
					
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label">二级密码</label>
													<div class="col-sm-10">
														<input type="text" placeholder="请输入二级密码6-20位" name="u_pwds" value="" class="form-control">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label">身份证号</label>
													<div class="col-sm-10">
														<input type="text" placeholder="请输入身份证号" name="u_idcode" value="{$re.u_idcode}" class="form-control" required>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label">微信号</label>
													<div class="col-sm-10">
														<input type="text" placeholder="请输入微信号" name="u_wx" value="{$re.u_wx}" class="form-control" required>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label">支付宝号</label>
													<div class="col-sm-10">
														<input type="text" placeholder="请输入支付宝号" name="u_alipay" value="{$re.u_alipay}" class="form-control" required>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label">手机号</label>
													<div class="col-sm-10">
														<input type="text" placeholder="请输入手机号" id="phone" name="u_phone" value="{$re.u_phone}" class="form-control">
													</div>
												</div>
												<!-- <div class="form-group">
													<label class="col-sm-2 control-label">发送验证码</label>
													<div class="col-sm-2">
														<input type="text" name="yzm" class="form-control">
													</div>
													<div class="col-sm-2">
														<input type="button" class="btn btn-success" id="btn" value="发送验证码">
													</div>
												</div> -->
												<div class="hr-line-dashed"></div>
												<input name="uid" type="hidden" value="{$re.uid}" />
												<div class="form-group">
													<div class="col-sm-4 col-sm-offset-2">
														<button class="btn btn-primary" type="submit">保存内容</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					   <script>
						var countdown = 60;
						
						$("#btn").click(function(){
							var phone = $("#phone").val();
							var telReg = !!phone.match(/^(0|86|17951)?(13|15|17|18|14|16|19)[0-9]{9}$/);
							if(telReg == false){
								layer.msg("请输入正确的手机号码!");return false;
							}
							$.ajax({
								type: "POST",
								url: "{:url('User/checkphone')}",
								data: {phone:phone},
								dataType: "text",
								success: function(re){
									  if(re == 1){
										layer.msg("该手机号已注册！");return false;
									  }else{
										layer.msg("验证码已发送，请尽快完成操作！");
										 
												var obj = $("#btn");
												if (countdown == 0) {
													obj.attr('disabled', false);
													//obj.removeattr("disabled"); 
													obj.val("获取验证码");
													countdown = 60;
													return;
												} else {
													obj.attr('disabled', true);
													obj.val("重新发送(" + countdown + ")");
													
													countdown--;
												}
												setTimeout(function() {
													settime(obj)
												}, 1000)
											
									  }
								   }
							});	
						})
					
						function settime(obj) { //发送验证码倒计时
							if (countdown == 0) {
								obj.attr('disabled', false);
								//obj.removeattr("disabled"); 
								obj.val("获取验证码");
								countdown = 60;
								return;
							} else {
								obj.attr('disabled', true);
								obj.val("重新发送(" + countdown + ")");
								countdown--;
							}
							setTimeout(function() {
								settime(obj)
							}, 1000)
						} 
					   </script>
						<script>
						$(document).ready(function () {
							$('.i-checks').iCheck({
								checkboxClass: 'icheckbox_square-green',
								radioClass: 'iradio_square-green',
							});
					
					
							$('.summernote').summernote({
								lang: 'zh-CN'
							});
					
						});
						var edit = function () {
							$('.click2edit').summernote({
								focus: true
							});
						};
						var save = function () {
							var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
							$('.click2edit').destroy();
						};
					</script>
					
					<script>
							$(function () {
								$('#logoForm').ajaxForm({
									beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
									success: complete, // 这是提交后的方法
									dataType: 'json'
								});
						
								function checkForm() {
									// var yl = $.trim($("input[name=yzm]").val()).length;
									// if(yl != 6){
									//   layer.msg("请输入正确的验证码!");return false;
									// }
									if($.trim($("input[name=u_pwd]").val()) != ''){
										var pwdl = $.trim($("input[name=u_pwd]").val()).length;;
										if(pwdl < 6 || pwdl >20){
											layer.msg("请输入6-20位登录密码!");return false;
										}
									}
									if($.trim($("input[name=u_pwds]").val()) != ''){
										var pwdsl = $.trim($("input[name=u_pwds]").val()).length;;
										if(pwdsl < 6 || pwdsl >20){
											layer.msg("请输入6-20位二级密码!");return false;
										}
									}
									
								}
								
								function complete(data) {
									if (data.code == 1) {
										layer.alert(data.msg, {
											icon: 6
										}, function (index) {
											layer.close(index);
											window.location.href = data.url;
										});
						
									} else {
										layer.alert(data.msg, {
											icon: 5
										}, function (index) {
											layer.close(index);
											window.location.href = data.url;
										});
						
									}
								}
						
							});
						</script>

	</section>
{include file="public:footer"}

	</section>



</body>

</html>