<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body class="gray-bg">

	<div class="wrapper wrapper-content">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>推荐会员管理</h5>
					</div>
					<div class="ibox-content">
						<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr>
										<td>用户名</td>
										<td>会员编号</td>
										<td>手机号码</td>
										<td>收货地址</td>
										<td>注册时间</td>
										
									</tr>
								</thead>
								<tbody>
								 {volist name="res" id="v"}	
									<tr>
										<td>{$v.realname}</td>
										<td>{$v.u_code}</td>
										<td>{$v.u_phone}</td>
										<td>{$v.addr}</td>
										<td>{$v.u_ztime|date="Y-m-d H:i:s",###}</td>
									
									
									
									</tr>
								  {/volist}
								</tbody>
							</table>
						 {empty name="res"}	
							<div class="ibox float-e-margins">
								<div class="ibox-content">
									<div class="col-sm-12">
										<!-- 无数据时显示 -->
										<p class="text-center common-msg-none" style="color:#ccc;">暂无数据~</p>
									</div>
								</div>
							</div>
						{/empty} 	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function dels(id){
			layer.confirm('你确定激活吗？', {icon: 3}, function(index){
		    layer.close(index);
			$.ajax({
				type:"post",
				url:"{:url('Member/change')}",
				data:{id:id},
				dataType:"text",
				success:function(re)
				{
                   if(re == 1){
					   layer.msg("注册币不足，请联系系统管理员充值");return false;
				   }
				   if(re == 2){
					   layer.msg("激活成功");location.reload();
				   }
				   if(re == 0){
					location.reload();
				   }
				}
			})
		  //  window.location.href="__URL__/change/id/"+id;
		  });
	    }
		</script>

</body>

</html>