<ul class="nav_list" id="nav_box">
		<li class="nav_item">
			<a href="{:url('News/index')}">
				联盟公告
			</a>
		</li>
		<li class="nav_item">
			<a href="{:url('Team/index')}">
				团队结构
			</a>
		</li>
		<li class="nav_item">
			<a href="{:url('Problem/index')}">
				问题解答
			</a>
		</li>
		<li class="nav_item">
			<a href="{:url('Game/index')}">
				游戏规则
			</a>
		</li>
		<li class="nav_item">
			<a href="{:url('Index/gold')}">
				注册币转账
			</a>
		</li>
		<li class="nav_item">
			<a href="{:url('Member/notes')}">
				升级记录
			</a>
		</li>
		<li class="nav_item">
			<a href="{:url('Member/index')}">
				会员管理
			</a>
		</li>
		<li class="nav_item">
			<a href="{:url('User/index')}">
				修改资料
			</a>
		</li>
	</ul>