<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body class="gray-bg">

	<div class="wrapper wrapper-content">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>申请升级</h5>
					</div>
					<div class="ibox-content text-center">
						<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr>
										<td>您目前的级别</td>
										<td>下一级别</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>{$re.lname} - {$re.lprice} </td>
										<td>{notempty name="res"} {$res.lname} - {$res.lprice} {/notempty}</td>
									</tr>
								</tbody>
							</table>
							<div class="ibox float-e-margins">
								<div class="ibox-content">
									<div class="col-sm-12">
										<p class="text-center">
											<a class="btn btn-success" id="btn">点击升级</a>
										</p>
									</div>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<script>
	$("#btn").click(function(){
		$.ajax({
			type:"post",
			url:"{:url('Apply/change')}",
			dataType:"text",
			success:function(re){
                if(re == 1){
					location.href="{:url('Apply/user_apply')}";
				}else{
					layer.msg("你已经是最高级别了！");return false;
				}
			}
		})
	})

</script>
</body>

</html>