<!DOCTYPE html>
<html lang="en">
  {include file="public:header"}

  <body class="gray-bg">
    <div class="wrapper wrapper-content">
      <div class="row">
        <div class="col-sm-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>升级记录</h5>
            </div>
            <div class="ibox-content text-center">
              <form action="{:url('apply/save')}" method="post" id="logoForm">
                <div class="table-responsive">
                  <p class="bg-primary" style="padding:8px;margin-bottom:0;">
                    升级说明
                  </p>
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td>您目前的级别为</td>
                        <td>{$re.lname} - {$re.lprice}</td>
                      </tr>
                      <tr>
                        <td>下一级升级为</td>
                        <td>

                          <select name="level" id="level" onclick="getMoney({$re.lid})" required >
                            <option value="0">请选择要升的级别</option>
                         {notempty name="res"}
                            {volist name="res" id="v"}
                            <option value="{$v.lid}">{$v.lname} - {$v.lprice}</option>
                           {/volist}
                          {/notempty} 
                          </select>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <p class="" style="padding:8px;margin-bottom:0;">
                    消耗注册币<span  id="money" style="color:red;" >0</span>个。
                  </p>
                  <div class="ibox float-e-margins">
                    <div class="ibox-content">
                      <div class="col-sm-12">
                        <p class="text-center">
                          <button class="btn btn-success" type="submit">
                            申请升级
                          </button>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    function getMoney(level) {
      var level = level;
      var levels = $("#level").val();
      $.ajax({
        type: "post",
        url: "{:url('apply/getMoney')}",
        data: {
          level: level,
          levels: levels
        },
        dataType: "text",
        success: function(res) {
          $("#money").html(res);
        }
      });
    }
  </script>

  <script>
    $(function() {
      $("#logoForm").ajaxForm({
        beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
        success: complete, // 这是提交后的方法
        dataType: "json"
      });

      function checkForm() {
        var level = $("#level").val();
        if(level == 0){
          layer.msg("请选择要升级的级别!");return false;
        }
      }

      function complete(data) {
        if (data.code == 1) {
          layer.alert(
            data.msg,
            {
              icon: 6
            },
            function(index) {
              layer.close(index);
              window.location.href = data.url;
            }
          );
        } else {
          layer.alert(
            data.msg,
            {
              icon: 5
            },
            function(index) {
              layer.close(index);
              window.location.href = data.url;
            }
          );
        }
      }
    });
  </script>
</html>
