<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body class="gray-bg">

	<div class="middle-box text-center loginscreen animated fadeInDown">
		<div>
			<h3>{$sys.name}</h3>
			<form class="m-t" role="form" id="logoForm" action="{:url('Login/save')}" method="POST">
				<!-- <div class="form-group">
					<input type="text" class="form-control" name="u_code" placeholder="数字编号">
				</div> -->
				<div class="form-group">
					<input type="text" class="form-control" name="u_phone" id="phone" placeholder="请输入注册手机号"  required="">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="u_pwd" placeholder="请输入登录密码"  required="">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="u_pwds" placeholder="请输入二级密码" required="">
				</div>
				
				<div class="form-group">
					<div class="col-sm-6 col-xs-6">
						<input type="text" class="form-control" placeholder="请输入验证码" name="yzm" required>
					</div>
					<div class="col-sm-2 col-xs-4">
						<input type="button" class="btn btn-success" id="btn" value="发送验证码" >
					</div>
					<div style="clear:both;"></div>
				</div>
				<!-- <div class="form-group text-left">
					<div class="checkbox i-checks">
						<label class="no-padding">
							<input class="agreement_checkbox" type="checkbox" checked><i></i> 我同意注册协议
						</label>
					</div>
				</div> -->
				<button type="submit" class="btn btn-primary block full-width m-b" id="regist_btn">找回密码</button>

			</form>
		</div>
	</div>

	<script>
	$(document).ready(function () {
		$('.i-checks').iCheck({
			checkboxClass: 'icheckbox_square-green',
			radioClass: 'iradio_square-green',
		});


		$('.summernote').summernote({
			lang: 'zh-CN'
		});

	});
	var edit = function () {
		$('.click2edit').summernote({
			focus: true
		});
	};
	var save = function () {
		var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
		$('.click2edit').destroy();
	};
</script>

<script>
	var countdown = 60;
	
	$("#btn").click(function(){
		var phone = $("#phone").val();
		var telReg = !!phone.match(/^(0|86|17951)?(13|15|17|18|14|16|19)[0-9]{9}$/);
		if(telReg == false){
			layer.msg("请输入正确的手机号码!");return false;
		}
		$.ajax({
            type: "POST",
            url: "{:url('Login/checkphone')}",
            data: {phone:phone},
            dataType: "text",
            success: function(re){
                  if(re == 1){
					layer.msg("该手机号已注册！");return false;
                  }else{
					layer.msg("验证码已发送，请尽快完成操作！");
                	 
                			var obj = $("#btn");
                			if (countdown == 0) {
                				obj.attr('disabled', false);
                				//obj.removeattr("disabled"); 
                				obj.val("获取验证码");
                				countdown = 60;
                				return;
                			} else {
                				obj.attr('disabled', true);
                				obj.val("重新发送(" + countdown + ")");
                				
                				countdown--;
                			}
                			setTimeout(function() {
                				settime(obj)
                			}, 1000)
                		
                  }
               }
		});	
	})

	function settime(obj) { //发送验证码倒计时
		if (countdown == 0) {
			obj.attr('disabled', false);
			//obj.removeattr("disabled"); 
			obj.val("获取验证码");
			countdown = 60;
			return;
		} else {
			obj.attr('disabled', true);
			obj.val("重新发送(" + countdown + ")");
			countdown--;
		}
		setTimeout(function() {
			settime(obj)
		}, 1000)
	} 
   </script>

<script>
	$(function () {
		$('#logoForm').ajaxForm({
			beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
			success: complete, // 这是提交后的方法
			dataType: 'json'
		});

		function checkForm() {
			var yl = $.trim($("input[name=yzm]").val()).length;
			if(yl != 6){
			  layer.msg("请输入正确的验证码!");return false;
			}
			if($.trim($("input[name=u_pwd]").val()) != ''){
				var pwdl = $.trim($("input[name=u_pwd]").val()).length;;
				if(pwdl < 6 || pwdl >20){
					layer.msg("请输入6-20位登录密码!");return false;
				}
			}
			if($.trim($("input[name=u_pwds]").val()) != ''){
				var pwdsl = $.trim($("input[name=u_pwds]").val()).length;;
				if(pwdsl < 6 || pwdsl >20){
					layer.msg("请输入6-20位二级密码!");return false;
				}
			}
			
		}

		function complete(data) {
			if (data.code == 1) {
				layer.alert(data.msg, {
					icon: 6
				}, function (index) {
					layer.close(index);
					window.location.href = data.url;
				});

			} else {
				layer.alert(data.msg, {
					icon: 5
				}, function (index) {
					layer.close(index);
					window.location.href = data.url;
				});

			}
		}

	});
</script>

</body>

</html>