<!DOCTYPE html>
<html lang="en">

{include file="public:header"}
<style type="text/css">
	/*设置表格高宽*/
	.static_wrap {
		width: 1000px;
		height: 500px;
	}
</style>
<body class="gray-bg">
	<div class="wrapper wrapper-content">
		<div class="row">
			<div class="col-sm-4">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>会员登录信息</h5>
					</div>
					
					<div class="ibox-content">
						<p>注册时间:{$re.u_ztime|date="Y-m-d H:i:s",###}</p>
					</div>
					
				</div>
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>会员资料</h5>
					</div>
					<div class="ibox-content">
						<p>会员编号：{$re.u_code}</p>
						<p>会员昵称：{$re.realname}</p>
						<p>注册币：{$re.gold}</p>
						
						<p>奖金余额：{$re.money}</p>
					
					</div>
				</div>
			

			</div>
			<div class="col-sm-8">
			<div class="static_wrap">
    			<div id="line" style="width:100%;height:100%;"></div>
			  </div>
			</div>
			
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>友情链接</h5>
						</div>
						<div class="ibox-content">

							{volist name="link" id="vk"}
							<a class="fancybox" href="{$vk.url}" title="{$vk.name}" target="_blank">
								<img alt="image" src="{$vk.image}">
							</a>
							{/volist}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		$(function () {

			var init = (function () {
				var leaveTr = $('.leave-table tr'),
					leaveTrLen = leaveTr.length
				leaveTr.each(function (index, element) {
					var left = (20 + (leaveTrLen - index - 1) * 2) + "%"
					$(element).children('td:nth-child(2)').css("paddingLeft", left)
				})
			})()

		})
	</script>
<script type="text/javascript" src="__ZHOME__/js/echarts.min.js"></script>
<script type="text/javascript">
	//折线图
	var line = echarts.init(document.getElementById('line'));
	var times={$times};
	var money={$money};

	
	line.setOption({
		color: ["#32d2c9"],
		title: {
			x: 'left',
			text: '奖金结算（元）',
			textStyle: {
				fontSize: '18',
				color: '#4c4c4c',
				fontWeight: 'bolder'
			}
		},
		tooltip: {
			trigger: 'axis'
		},
		toolbox: {
			show: true,
			feature: {
				dataZoom: {
					yAxisIndex: 'none'
				},
				dataView: {
					readOnly: false
				},
				magicType: {
					type: ['line', 'bar']
				}
			}
		},
		xAxis: {
			type: 'category',
			boundaryGap: false,
			data: times,
			axisLabel: {
				interval: 0
			}
		},
		yAxis: {
			type: 'value'
		},
		series: [{
			name: '结算金额',
			type: 'line',
			data: money
		}]
	});
</script>

</body>

</html>