<!DOCTYPE html>
<html lang="en">
  {include file="public:header"}

  <body class="gray-bg">
    <div class="wrapper wrapper-content">
      <div class="row">
        <div class="col-sm-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>注册协议</h5>
            </div>
            <div class="ibox-content">
              {$re.desc}
              <p>
                <a
                  class="btn btn-success"
                  href="{:url('Team/register',array('uid'=>$uid))}"
                  >同意注册</a
                >
                <a class="btn btn-warning" href="javascript:history.back(-1)"
                  >取消注册</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
